body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: #c3a99e;
}
.link {
  display: block;
  margin-left: 40px;
  margin-bottom: 30px;
  font-size: 20px;
}

.red {
  color: red;
}

#name {
  font-size: 20px;
  color: white;
  margin-left: 40px;
  margin-top: 100px;
}

p {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: white;
}

#coffee {
  width: 1000px;
  padding: 20px;
}
