body {
  font-family: 'Varela Round', sans-serif;
  background: url("../Images/WindowsBG.png");
  background-size: 100%;
  background-repeat: no-repeat;
  max-height:100vw;
  overflow:hidden;
}

h1{
  position:relative;
  top: -50px;
}
h2 {
  line-height:30px;
  position:relative;
  top: -50px;
}

p {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  color:#542510;
}

.link {
  margin-left: 40px;
  margin-top: 100px;
  font-size: 20px;
}

.homeText {
  font-size: 20px;
  color:#542510;
  margin-left: 40px;
  margin-top: 20px;
}

.LightHome{
  background:url('../Images/LightTabs/LightHome.png');
  background-size: 1000px 562.183px;
  background-position:center center;
  background-repeat: no-repeat;
  width:1000px;
  height:562.183px;
  min-height:562.183px;
  margin: 0 auto;
  /* padding-top: calc((100% - 562.183px) / 3); */
}

.LightHomeInner{
  padding-top: calc((100% - 562.183px) / 3);
}

.invisibleLink{
  display: block;
  width: 134px;
  height: 30px;
  cursor:pointer;
}

.artLink{
  position: relative;
  top: -92px;
  left: 197px;
}

@keyframes fadein{
  0%{opacity:0;}
  33%{opacity:0;}
  100%{opacity:1;}
}

  @keyframes expand {
    0% {
      width: 0px;
      height:0px;
      min-height:0px;
      position:relative;
      left:500px;
      top:281px;
      background-size: 0px 0px;
    }
    100% {
      width: 1000px;
      height:562.183px;
      min-height:562.183px;
      position:relative;
      left:0px;
      top:0px;
      background-size: 1000px 562.183px;
    }
  }
.popup {
  animation-name: expand;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.fadeIn{
  animation:fadein;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
#grayStars{
  float:right;
  position:relative;
  top: -265px;
  right: 20px;
  width:400px;
  height:400px;
}